certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
feedparser==6.0.12
idna==3.11
joblib==1.5.3
mblack==26.1.0
mojo==0.26.1.0
mojo-compiler==0.26.1.0
mojo-lldb-libs==0.26.1.0
mypy_extensions==1.1.0
numpy==2.4.2
pandas==3.0.1
pathspec==1.0.4
pillow==12.1.1
platformdirs==4.9.1
psutil==7.2.2
pygame==2.6.1
python-dateutil==2.9.0.post0
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.0
sgmllib3k==1.0.0
six==1.17.0
threadpoolctl==3.6.0
urllib3==2.6.3
